@media screen and (min-width: 600px) {
	#logo {
		width: 100px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	header p {
		font-size: 1.2em;
	}

	header, .top-border {
		width: 83%;
	}

	.featured-image img {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.item {
		box-sizing: border-box;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (min-width: 1070px) {
	header, .top-border {
		width: 880px;
	}
}