@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


/**********************/
/*   DEFAULT STYLES   */
/**********************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #fdfdff;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	color: #34495e;
}

h1 {
	margin-bottom: 3px;
	font-size: 1.5em;
	color: #2c3e50;
	text-transform: uppercase;
}

a {
	text-decoration: none; 
	color: #34495e;
}

.top-border {
	border-bottom: 3px #34495e solid;
}

header, main, footer, .top-border {
	width: 85%;
	max-width: 900px;
	margin: 0 auto;
}





/**********************/
/*      HEADER        */
/**********************/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 70px;
	padding: 15px 0;
}

.info {
	text-align: right;
}

header p {
	font-size: .75em;
}




/**********************/
/*       FEATURE      */
/**********************/
.featured-image {
	margin: 20px 0 40px 0;
}

.featured-image img {
	width: 100%;
	border-radius: 4px;
}

.featured-work {
	text-align: center;
}

.featured-work-header {
	margin: 20px 0;
	font-weight: 700;
}

.work {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.item {
	border: 1px  #34495e solid;
	border-radius: 4px;
	margin-bottom: 25px;
	transition: transform .3s;
}

.item:hover {
	transform: scale(1.02);
	transition: transform .3s;
}

.item, .item img {
	width: 100%;
}

.item img {
	border-radius: 4px 4px 0 0;
}

.item-info {
	padding: 10px;
	font-size: 1.2em;
}




/**********************/
/*       FOOTER       */
/**********************/
footer {
	padding: 40px 0 60px 0;
	text-align: center;
}

